<nav class="navbar bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">小日子</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
         aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">小日子</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/index">首页</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">工作日志</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">项目日志</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">笔记</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">随笔</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>

<div class="container" style="margin-top: 5%">
  <div class="btn-group" role="group" aria-label="Basic outlined example">
    <button type="button" class="btn btn-outline-primary">工作日志</button>
    <button type="button" class="btn btn-outline-primary">新增</button>
  </div>
  <table class="table table-striped">
    <thead class="table-light">
    <tr>
      <th scope="col">序号</th>
      <th scope="col">日期</th>
      <th scope="col">计划</th>
      <th scope="col">实际</th>
      <th scope="col">备注</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>2022-06-20</td>
      <td>1、完成用户中心id设计</td>
      <td>1、处理现网问题；2、重构计划讨论</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>2022-06-19</td>
      <td>1、圈子需求迭代；2、ddd重构代码审核</td>
      <td>1、圈子需求迭代；2、ddd重构代码审核</td>
      <td>感觉一天到晚没干啥事儿</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>2022-06-20</td>
      <td>1、完成用户中心id设计</td>
      <td>1、处理现网问题；2、重构计划讨论；1、处理现网问题；2、重构计划讨论；。。。</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>2022-06-19</td>
      <td>1、圈子需求迭代；2、ddd重构代码审核</td>
      <td>1、圈子需求迭代；2、ddd重构代码审核</td>
      <td>感觉一天到晚没干啥事儿</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>2022-06-20</td>
      <td>1、完成用户中心id设计</td>
      <td>1、处理现网问题；2、重构计划讨论</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>2022-06-20</td>
      <td>1、完成用户中心id设计</td>
      <td>1、处理现网问题；2、重构计划讨论</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>2022-06-19</td>
      <td>1、圈子需求迭代；2、ddd重构代码审核</td>
      <td>1、圈子需求迭代；2、ddd重构代码审核</td>
      <td>感觉一天到晚没干啥事儿</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>2022-06-20</td>
      <td>1、完成用户中心id设计</td>
      <td>1、处理现网问题；2、重构计划讨论；1、处理现网问题；2、重构计划讨论；。。。</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>2022-06-19</td>
      <td>1、圈子需求迭代；2、ddd重构代码审核</td>
      <td>1、圈子需求迭代；2、ddd重构代码审核</td>
      <td>感觉一天到晚没干啥事儿</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>2022-06-20</td>
      <td>1、完成用户中心id设计</td>
      <td>1、处理现网问题；2、重构计划讨论</td>
      <td></td>
    </tr>
    </tbody>
  </table>

</div>

